@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
table, p, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
header {
  text-align: center;
  padding: 20px;
  height: 100px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: black;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.container {
  max-width: 90%;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.gallery a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 33.33%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  overflow:hidden;
}

.gallery a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.gallery a:hover:before {
  opacity: 0;
}

.gallery img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery a:hover img {
  transform: scale(1.1);
}

.gallery .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

table {
  width:60%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.container .image-container img {
  float:left;
  margin: 20px;
}

.text-container{
  float:left
}